<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net481" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.2" targetFramework="net481" developmentDependency="true" />
  <package id="MiniWord" version="0.9.2" targetFramework="net481" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net481" />
  <package id="OxyPlot.Wpf" version="2.2.0" targetFramework="net481" />
  <package id="OxyPlot.Wpf.Shared" version="2.2.0" targetFramework="net481" />
</packages>